body {
  background-color: #2B2D42;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: Montserrat;
  font-size: 10px;
  color: #a04141;
}

h1 {
  font-family: Creepster;
  font-size: 32px;
  color: #a04141;
}
