body {
  background-color: #2B2D42;
}

p {
  font-family: Montserrat;
  font-size: 16px;
  color: #f7f7f7;
  text-align: center;
}

h1 {
  font-family: Creepster;
  font-size: 62px;
  color: #d14b4b;
  text-align: center;
}
